/* This is a CSS comment */
body {
	padding: 20px 10px;
	font-family: arial;
	max-width: 2000px;
	margin: 0 auto;
	font-size: 1.4em;
}

h1 {
	text-align: center;
	color: black;
}

h2 {
	margin: 10px;
}

h3 {

}

p {
	margin: 10px 0;
}


.tbotw {
	background-color: #313131;
	border-radius: 5px;
	color: white;
	padding: 10px;
	margin: 10px auto;
}


.casd {
	background-color: #000000;
	border-radius: 5px;
	color: white;
	padding: 10px;
	margin: 10px auto;
}

.aswcss {
	background-color: #294860;
	border-radius: 5px;
	color: white;
	padding: 10px;
	margin: 10px auto;
}

.unit {
	background-color: white;
	border-radius: 5px;
	color: black;
	padding: 10px;
	margin: 10px auto;
}

.itsp {
	background-color: #294860;
	border-radius: 5px;
	color: white;
	padding: 10px;
	margin: 10px auto;

